In [1]:
import pandas as pd
import numpy as np
import os

start_directory = os.getcwd()

In [8]:
print(start_directory)
os.chdir(start_directory)

os.chdir("../../resources/data")
print(os.listdir())

/home/steffen/Documents/privat/project-njord/workspace/friendly-competitions/pumpitup/src/pumpitup
['training_predictors_report.html', 'training_predictors.csv', 'training_reponse.csv', 'README.md', 'test_predictors.csv']

In [18]:
df = pd.read_csv("training_predictors.csv",sep=",")
print(df.shape)

print(df.columns)
df.info()

(59400, 40)
Index(['id', 'amount_tsh', 'date_recorded', 'funder', 'gps_height',
       'installer', 'longitude', 'latitude', 'wpt_name', 'num_private',
       'basin', 'subvillage', 'region', 'region_code', 'district_code', 'lga',
       'ward', 'population', 'public_meeting', 'recorded_by',
       'scheme_management', 'scheme_name', 'permit', 'construction_year',
       'extraction_type', 'extraction_type_group', 'extraction_type_class',
       'management', 'management_group', 'payment', 'payment_type',
       'water_quality', 'quality_group', 'quantity', 'quantity_group',
       'source', 'source_type', 'source_class', 'waterpoint_type',
       'waterpoint_type_group'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59400 entries, 0 to 59399
Data columns (total 40 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     59400 non-null  int64
 1   amount_tsh             59400 non-null  float64
 2   date_recorded          59400 non-null  object
 3   funder                 55765 non-null  object
 4   gps_height             59400 non-null  int64
 5   installer              55745 non-null  object
 6   longitude              59400 non-null  float64
 7   latitude               59400 non-null  float64
 8   wpt_name               59400 non-null  object
 9   num_private            59400 non-null  int64
 10  basin                  59400 non-null  object
 11  subvillage             59029 non-null  object
 12  region                 59400 non-null  object
 13  region_code            59400 non-null  int64
 14  district_code          59400 non-null  int64
 15  lga                    59400 non-null  object
 16  ward                   59400 non-null  object
 17  population             59400 non-null  int64
 18  public_meeting         56066 non-null  object
 19  recorded_by            59400 non-null  object
 20  scheme_management      55523 non-null  object
 21  scheme_name            31234 non-null  object
 22  permit                 56344 non-null  object
 23  construction_year      59400 non-null  int64
 24  extraction_type        59400 non-null  object
 25  extraction_type_group  59400 non-null  object
 26  extraction_type_class  59400 non-null  object
 27  management             59400 non-null  object
 28  management_group       59400 non-null  object
 29  payment                59400 non-null  object
 30  payment_type           59400 non-null  object
 31  water_quality          59400 non-null  object
 32  quality_group          59400 non-null  object
 33  quantity               59400 non-null  object
 34  quantity_group         59400 non-null  object
 35  source                 59400 non-null  object
 36  source_type            59400 non-null  object
 37  source_class           59400 non-null  object
 38  waterpoint_type        59400 non-null  object
 39  waterpoint_type_group  59400 non-null  object
dtypes: float64(3), int64(7), object(30)
memory usage: 18.1+ MB

In [19]:
df["source"].value_counts()

spring                  17021
shallow well            16824
machine dbh             11075
river                    9612
rainwater harvesting     2295
hand dtw                  874
lake                      765
dam                       656
other                     212
unknown                    66
Name: source, dtype: int64

In [25]:
df = df.set_index(keys="id")
print(df.head())

       amount_tsh date_recorded        funder  gps_height     installer  \
id
69572      6000.0    2011-03-14         Roman        1390         Roman
8776          0.0    2013-03-06       Grumeti        1399       GRUMETI
34310        25.0    2013-02-25  Lottery Club         686  World vision
67743         0.0    2013-01-28        Unicef         263        UNICEF
19728         0.0    2011-07-13   Action In A           0       Artisan

       longitude   latitude              wpt_name  num_private  \
id
69572  34.938093  -9.856322                  none            0
8776   34.698766  -2.147466              Zahanati            0
34310  37.460664  -3.821329           Kwa Mahundi            0
67743  38.486161 -11.155298  Zahanati Ya Nanyumbu            0
19728  31.130847  -1.825359               Shuleni            0

                         basin  ... payment_type water_quality  quality_group  \
id                              ...
69572               Lake Nyasa  ...     annually          soft           good
8776             Lake Victoria  ...    never pay          soft           good
34310                  Pangani  ...   per bucket          soft           good
67743  Ruvuma / Southern Coast  ...    never pay          soft           good
19728            Lake Victoria  ...    never pay          soft           good

           quantity quantity_group                source  \
id
69572        enough         enough                spring
8776   insufficient   insufficient  rainwater harvesting
34310        enough         enough                   dam
67743           dry            dry           machine dbh
19728      seasonal       seasonal  rainwater harvesting

                source_type source_class              waterpoint_type  \
id
69572                spring  groundwater           communal standpipe
8776   rainwater harvesting      surface           communal standpipe
34310                   dam      surface  communal standpipe multiple
67743              borehole  groundwater  communal standpipe multiple
19728  rainwater harvesting      surface           communal standpipe

      waterpoint_type_group
id
69572    communal standpipe
8776     communal standpipe
34310    communal standpipe
67743    communal standpipe
19728    communal standpipe

[5 rows x 39 columns]